*{
  padding:0;
  margin:0;
}
body {
    background-image: url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
