*{
    padding:0;
    margin:0;
}
.main {
    background-image: url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");
  height: 80vh;
  align-self: center right;
  background-size: max(1000px,100vw);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  
}

select{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border: white 100px;
  background-color: black;
}
.main .box{
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: black;
  position: absolute;
  top: 0;
  
}
nav{ align-content: space-around;
  justify-content: space-between;
  color: aliceblue;
  padding-left: 30vw;
  display: flex;
  align-items: center;
  max-width: 60vw;
  height:62px;
  margin:auto;
padding-top: 20px;
}
nav img{
  color: rgb(250, 8, 8);
  width:114px;
  position: relative;
  z-index: 10;

}
nav button{
  position: relative;
  z-index: 10;
}
div1 button{
  background-color: red;
  border: solid red 11px;
  font-size: 15px;
  border-radius: 3px;
  color:white;
  font-weight: 650;

}
div2 select{
  background-color:black;
  
color: white;
font-size: 18px ;
font-weight: 300;
height: 35px;
width: 100px;
border-radius: 9%;
border:solid rgb(117, 115, 115) 1px;

}
.hero{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index:400;
  font-family: sans-serif;
  font-size: larger;
}
.hero :first-child{
font-size: 49px;
font-weight: bolder;
}
