*{
    padding:0;
    margin:0;
}
body{
  background-color: black;
}
.main {
    background-image: url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");
    
  height: 86vh;
  align-self: center right;
  background-size: max(1000px,100vw);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
}

select{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border: white 100px;
  background-color: black;
}
.main .box{
  height: 70vh;
  width: 100%;
  opacity: 0.69 ;
  background-color: black;
  position: absolute;
  top: 0;
  
}
nav{ align-content: space-around;
  justify-content: space-between;
  color: aliceblue;
  padding-left: 30vw;
  display: flex;
  align-items: center;
  max-width: 60vw;
  height:62px;
  margin:auto;
padding-top: 20px;
}
nav img{
  color: rgb(250, 8, 8);
  width:114px;
  
  position: relative;
  z-index: 10;

}
nav button{
  position: relative;
  z-index: 10;
}
div1 button{
  background-color: red;
  border: solid red 11px;
  font-size: 15px;
  border-radius: 3px;
  color:white;
  font-weight: 650;

}
div2 select{
  background-color:black;
  
color: white;
font-size: 18px ;
font-weight: 300;
height: 35px;
width: 100px;
border-radius: 9%;
border:solid rgb(117, 115, 115) 1px;

}
.hero{
  height: calc(100%-62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index:400;
  font-family: sans-serif;
  font-size: larger;
  gap:23px;
  padding: 0 30px;
  text-align: center;
}
.hero :nth-child(1){
font-size: 48px;
font-weight: bolder;
}
.hero :nth-child(2){
  font-weight: 400;
  font-size: 24px;
}
.hero :nth-child(3){
  font-weight: 400;
  font-size: 20px;
}
.hero1 :nth-child(1){
  font-size: 19px;
  font-weight: bolder;
  font-family: sans-serif;
  background-color: rgb(23, 20, 20);
  border: solid rgb(133, 130, 130) 1px;
  color: rgb(227, 237, 237);
  border-radius: 5%;
  
  padding:14px;
}
.hero1 :nth-child(2){
  font-size: 18px;
  color:white;
  padding:14px;
width:160px;
  background-color: red;
  border: solid red 3px;
  font-weight: bolder;
  border-radius: 5%;
}
.separation{
  
  height:7px;
  background-color: rgb(67, 66, 66);
  
}
.first{
  display:flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  background-color: rgb(2, 5, 37);
  justify-content: center;
  align-content: center;
  border-radius: 8%;
  padding: 30px;
  padding-left: 90px;
  padding-right: 90px;
  border: solid rgb(76, 73, 73) 3px;
}
.secImg{
  width: 30vw;
}
divA{
  font-size: 48px;
  font-weight: 600;
  display: block;
}
span2{
  
  font-size: 24px;
}
.faq{
  color:aliceblue;
  text-align: center;
  font-family: sans-serif;
}
.faq .faqbox span{
  display:flex;
  background-color: rgb(39, 37, 37);
  color:white;
  padding: 34px;
  width: 100%;
  margin: auto;
  width: 70vw;;
  font-size: 20px;
}
.faqbox :nth-child(){
  border-radius: 2%;
  border: solid rgb(40, 38, 38);
  padding-left: 20px;
}
.sep2
{
  height: 7px;
  background-color: black;
}
.sep3{
  height: 20px;
  background-color: black;
  align-self: center;
  justify-content: center;
}
.sep4{
  height:80px;
  background-color: black;
  align-self: center;
  justify-content: center;
}
divD{
  color: white;
  background-color: black;
  padding-left: 70px;
  font-family: sans-serif;
  
}
divF{
  color: white;
  background-color: black;
display: flex;
  font-family: sans-serif; padding-left: 70px;
}
divG{
  padding-left: 400px;
}
